{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "strict": 0,
    "no-console": "warn",
    "quotes": [
      "warn",
      "single"
    ],
    "prettier/prettier": "warn",
    "react/prop-types": "warn",
    "no-unused-vars": "warn"
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "plugins": ["prettier", "jsx-a11y", "react-hooks"],
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": { "paths": ["src"] },
      "babel-module": {}
    }
  }
}
